<div id="add" v-cloak>

    <div class="container">
        <br>
          <h1>Ajouter une vidéo</h1>
          <input type="file" id="avatar" name="avatar">
    </div>

<!--   <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/add.less</em>, <em>assets/js/pages/add.page.js</em>, and <em>api/controllers/view-add.js</em>.)</p> -->

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
