<div id="add" v-cloak>

    <div class="container">
        <br>
          <h1>Ajouter une vidéo</h1>
          <form action="/video/upload" enctype="multipart/form-data" method="post">
            Nom de la vidéo <input class="form-control" type="text" name="name">
            <input class="form-control-file" type="file" name="video" multiple="multiple">
            <input class="btn btn-outline-info" type="submit" value="Upload">
          </form>
    </div>

<!--   <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/add.less</em>, <em>assets/js/pages/add.page.js</em>, and <em>api/controllers/view-add.js</em>.)</p> -->

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
