<div class="container">
  <br>
    <div class="buttons">
<!--       <a class="btn btn-info" href="/account/profile">Update my email</a>
      <button class="btn btn-outline-info ml-2" @click="clickOpenExampleModalButton()">Open a modal</button> -->
      <a class="btn btn-info" href="/video/add">Ajouter une nouvelle video</a>
      <hr/>
    </div>
    <h1>Liste des vidéos</h1>
    <ul class="list-group"></ul>
    <% list_video.forEach(function(list_video) { %>
      <li class="list-group-item"><%= list_video %> <a class="fas fa-edit" href="/video/add"></span></a> <a class="glyphicon glyphicon-pencil" href="/video/add">Supression</span></a></li>
  <% }); %>
      </ul>
</div>
<i class="fas fa-edit"></i>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
