<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">
      <div class="hero-image">
          <form action="/video/view" method="get">
            <label for="email-address">Nom de l'identifiant vidéo</label>
            <input class="form-control" name="video" id="id_video">
            <input class="btn btn-outline-info" type="submit" value="Voir la vidéo" style="margin-top: 1em;">
          </form>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
